<%= form_with(model: team, local: true, id: 'new_team') do |form| %>
  <% if team.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(team.errors.count, "error") %> prohibited this team from being saved:</h2>

      <ul>
        <% team.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <fieldset>
    <legend><h2>Team Info</h2></legend>
    <div class="field">
      <%= form.label :name %>
      <%= form.text_field :name %>
    </div>
  </fieldset>


  <%= form.fields_for :survey do |survey_fields| %>
    <fieldset>
      <legend><h2>Standup Questions</h2></legend>
      <%= survey_fields.fields_for :survey_questions do |survey_question_fields| %>
        <div class="field">
          <%= survey_question_fields.label :text %>
          <%= survey_question_fields.text_field :text %>
        </div>
      <% end %>
    </fieldset>
  <% end %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
