<%= form_with(model: team, local: true, id: 'new_team') do |form| %>
  <% if team.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(team.errors.count, "error") %> prohibited this team from being saved:</h2>

      <ul>
        <% team.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>
  <h5>Standup Questions</h5>
  <%= form.fields_for :survey do |survey_fields| %>
    <%= survey_fields.fields_for :survey_questions do |survey_question_fields| %>
      <%= survey_question_fields.label :text %>
      <%= survey_question_fields.text_field :text %>
    <% end %>
  <% end %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
