<p id="notice"><%= notice %></p>
<div>
  <h3><%= @team.name %></h3>
</div>
<hr/>
<% can_manage_team = can_manage_team?(@team, current_user) %>
<h3>Team Members</h3>
<div id='team-members' class='grid grid-cols-12 gap-12'>
  <% @team_members.each do |team_member| %>
    <%= render partial: 'react/component', locals: {
      component_name: 'MemberTile',
      props: {
        name: 'Matt H.',
        title: 'Developer',
        avatar_url: 'https://external-content.duckduckgo.com/iu/?u=http%3A%2F%2Fi.imgur.com%2FzfgDtzY.jpg&f=1&nofb=1',
        accent_url: 'https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fi.pinimg.com%2Foriginals%2F89%2F5b%2F28%2F895b281b1d2dd8cca4c98baaf2dcd972.jpg&f=1&nofb=1'
      }
    }%>
  <% end %>
</div>


<%= link_to 'Edit', edit_team_path(@team) %> |
<%= link_to 'Back', teams_path %>
