<p id="notice"><%= notice %></p>
<div>
  <h3><%= @team.name %></h3>
</div>
<hr/>
<% can_manage_team = can_manage_team?(@team, current_user) %>
<h3>Team Members</h3>
<div id='team-members'>
  <% @team_members.each do |team_member| %>
    <div class='team-member-tile'>
      <div class='team-member-avatar'>
        <img src='https://place-hold.it/100x100' />
      </div>
      <div class='team-member-name'>
        <%= team_member.user.email %>
      </div>
      <div class='team-member-actions'>
        <% if can_manage_team && team_member.user != current_user %>
          <%= link_to 'Delete', team_team_member_path(@team, team_member), method: 'DELETE' %>
        <% end %>
      </div>
    </div>
  <% end %>
  <% if can_manage_team %>
    <div id='new-team-member' class='team-member-tile'>
      <h5>Add Team Member</h4>
      <%= render partial: 'team_members/form', locals: { team_member: TeamMember.new(team: @team) }  %>
    </div>
  <% end %>
</div>


<%= link_to 'Edit', edit_team_path(@team) %> |
<%= link_to 'Back', teams_path %>
