<!DOCTYPE html>
<html>
  <head>
    <title>Dailystandup</title>
    <link rel="manifest" href="/manifest.json">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application' %>
    <%= javascript_pack_tag 'application' %>

    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
    <meta content='yes' name='apple-mobile-web-app-capable'/>
    <meta content='yes' name='mobile-web-app-capable'/>

		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>

		<meta name="HandheldFriendly" content="true"/>
  </head>

  <body class='<%= @layout_class %>'>

    <main>
      <%= yield %>
    </main>
  </body>
</html>
