<div class="mx-auto max-w-4xl px-4 py-4 bg-white shadow-md rounded-lg mb-4">
  <div class="py-2 flex flex-row items-center justify-between">
    <div class="flex flex-row items-center">
      <a href="#" class="flex flex-row items-center focus:outline-none focus:shadow-outline rounded-lg">
        <img class="rounded-full h-16 w-16 object-cover" src="<%= standup_report.team_member.gravatar_url %>" alt="">
      <h4 class="ml-2"><%= standup_report.team_member.full_name %></h4>
      </a>
    </div>
    <div class="flex flex-row items-center">
      <p class="text-xs font-semibold text-gray-500"><%= time_ago_in_words(standup_report.created_at) %></p>
    </div>
  </div>
  <div class="mt-2">
    <div class="py-2 flex flex-row items-center">
      <%= button_to team_likes_path(standup_report.team_member.team), class: "flex flex-row items-center focus:outline-none focus:shadow-outline rounded-lg", params: { like: { likeable_type: standup_report.class.to_s, likeable_id: standup_report.id } } do %>
        <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" viewBox="0 0 24 24" class="w-5 h-5"><path d="M4.318 6.318a4.5 4.5 0 000 6.364L12 20.364l7.682-7.682a4.5 4.5 0 00-6.364-6.364L12 7.636l-1.318-1.318a4.5 4.5 0 00-6.364 0z"></path></svg>
        <span class="ml-1"><%= standup_report.likes_count %></span>
      <% end %>
    </div>
  </div>
  <div class="py-2">
    <% standup_report.survey_responses.each do |survey_response| %>
      <h3><%= survey_response.survey_question.text %></h3>
      <p class="leading-snug">
        <%= survey_response.answer %>
      </p>
    <% end %>
  </div>
  <hr/>
  <div class='mt-2 p-2 bg-gray-300 text-center'>
    <%= link_to '#', class:"bg-white text-gray-800 font-bold rounded border-b-2 border-green-500 hover:border-green-600 hover:bg-green-500 hover:text-white shadow-md py-2 px-6 inline-flex items-center" do %>
      <span class="">Ask Question</span>
    <% end %>
  </div>
</div>
