<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="relative w-full mb-3">
    <%= f.label :email, class: "block uppercase text-gray-700 text-xs font-bold mb-2", for: "grid-password" %>
    <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "Email" %>
  </div>

  <div class="relative w-full mb-3">
    <%= f.label :password, class: "block uppercase text-gray-700 text-xs font-bold mb-2", for: "grid-password" %>
    <%= f.password_field :password, autofocus: true, autocomplete: "email", placeholder: "Password" %>
  </div>


  <% if devise_mapping.rememberable? %>
    <div class="field">
      <%= f.check_box :remember_me %>
      <%= f.label :remember_me %>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit "Log in", data: { disable_with: 'Logging In' } %>
  </div>
<% end %>
