<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="relative w-full mb-3">
    <%= f.label :email, class: "block uppercase text-gray-700 text-xs font-bold mb-2", for: "grid-password" %>
    <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "px-3 py-3 placeholder-gray-400 text-gray-700 bg-white rounded text-sm shadow focus:outline-none focus:shadow-outline w-full",  placeholder: "Email", style: "transition: all 0.15s ease 0s;" %>
  </div>

  <div class="relative w-full mb-3">
    <%= f.label :password, class: "block uppercase text-gray-700 text-xs font-bold mb-2", for: "grid-password" %>
    <%= f.password_field :password, autofocus: true, autocomplete: "email", class: "px-3 py-3 placeholder-gray-400 text-gray-700 bg-white rounded text-sm shadow focus:outline-none focus:shadow-outline w-full",  placeholder: "Password", style: "transition: all 0.15s ease 0s;" %>
  </div>


  <% if devise_mapping.rememberable? %>
    <div class="field">
      <%= f.check_box :remember_me %>
      <%= f.label :remember_me %>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit "Log in", class: "bg-gray-900 text-white active:bg-gray-700 text-sm font-bold uppercase px-6 py-3 rounded shadow hover:shadow-lg outline-none focus:outline-none mr-1 mb-1 w-full", style: "transition: all 0.15s ease 0s;", data: { disable_with: 'Logging In' } %>
  </div>
<% end %>
